beautifulsoup4==4.5.1
bs4==0.0.1
Django==1.10.1
djangorestframework==3.4.6
flickrapi==2.1.2
funcsigs==1.0.2
mock==2.0.0
numpy==1.11.1
oauthlib==2.0.0
onedrivesdk==1.1.4
pbr==1.10.0
protobuf==3.0.0b2
requests==2.11.1
requests-oauthlib==0.6.2
requests-toolbelt==0.7.0
selenium==2.53.6
six==1.10.0
stevedore==1.17.1
uWSGI==2.0.13.1
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
